@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	height: 55px;
	background-color: #fff;
}

main {
	background-color: #E7E8E9;
}

#affichage-menu-recherche{display:inline-block; width:260px;vertical-align: top;position:fixed;margin-top:50px;margin: 5%;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 20px;}

#page-principale{}

.bouton-pied-orange, .bouton-pied-blanc{padding:8px 12px;border-radius: 8px;}

.bouton-pied-orange{background-color: #E2A125;}
.bouton-pied-blanc{background-color: #FFF;}

.hover-deco:hover img{opacity:0;}

.credit-nav{padding:8px 12px;margin:-5px -8px;background-color: #E2A125;transition-duration: 200ms;border-radius:8px;line-height: 30px;}

.credit-nav:hover{background-color: #3A444A;transition-duration: 200ms;}


#bouton-retour{border:none;outline:none;margin-left:75px;}

.loupe-accueil{float:right}

/* Styles de base pour le bouton radio */
input[type="radio"] {
  appearance: none; /* Masquer l'apparence par défaut du bouton radio */
  -webkit-appearance: none; /* Pour les navigateurs basés sur WebKit (comme Chrome) */
  -moz-appearance: none; /* Pour Firefox */
  width: 20px; /* Largeur souhaitée */
  height: 20px; /* Hauteur souhaitée */
  border-radius: 50%; /* Pour créer un bouton radio rond */
  outline: none; /* Supprimer la mise en évidence lors de la sélection */
  cursor: pointer; /* Curseur au survol */
  background-color: #fff; /* Fond transparent */
  margin-right: 5px; /* Espace entre les boutons radio */
  margin-bottom:-5px;
}

/* Styles pour le bouton radio sélectionné */
input[type="radio"]:checked {
  background-color: #E2A125; /* Couleur de fond lorsque sélectionné */
}

.txt-filtre{font-size:1em;line-height: 2.8em;color:#000}

#logo-image {
    width: 215px;
}
#logo-image-big {
    width: 250px;
    filter: brightness(25);
    -webkit-filter: brightness(25);
}

.categorie-accueil{background-color:#c5c5c57d;width:220px;;border-radius:8px;padding:8px;border:none;outline:none;margin:10px 0}

.bouton-classique {
	background-color: #fff;
	border-radius: 5px;
	padding: 5px 8px;
	color: #3A444A;
	transition-duration: 200ms;
}

.actionbouton {
	background-color: #E2A125;
	border-radius: 5px;
	padding: 5px 8px;
	color: #3A444A;
	transition-duration: 200ms;
	text-decoration: none;
	font-weight: 500;

}

#link-vendeur {
	font-size: 0.9em;
	color: #E2A125;
	transition-duration: 200ms;
	font-weight: 700;
	text-decoration: none;
}

p {
	color: #777d84;
	margin-bottom: 0em;
}

h1,
h2,
h3,
h4 {
	line-height: 1em;
}

h1 {
	text-align: center;
}

label {
	color: rgb(152, 152, 152);
}

.actionbouton:hover {
	background-color: #3A444A;
	color: #E2A125;
	transition-duration: 200ms;
}

#article-vendu {
	display: inline-block;
	width: 31%;
	min-width: 250px;
	margin: 5px;
	vertical-align: top;
}

#miniature-article {
	background-color: #3A444A;
	/*background-color: #E7E8E9;*/
	border-radius: 15px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 200px;
	transition-duration:100ms;
}

#miniature-article:hover{margin:-10px;padding:25px;transition-duration:200ms;height:220px;}

.bouton-miniature {
	display: flex;
	justify-content: center;
	/* Aligner les boutons à droite */
	align-items: flex-end;
	/* Aligner les boutons en bas */
	gap: 5px;
}

h4.titre-miniature {
	font-size: 1.3em;
	font-weight: 400;
	margin: 5px 0px 0px;
}

.montant-enchere {
	font-weight: bold;
	font-size: 1.3em;
}

.aAction {
	color: #E2A125;
	font-weight: bold;
	transition-duration: 200ms;
	font-size: 1.1em;
}

.prix-article {
	color: #fff;
	font-size: 1.4em;
	font-weight: 600;
}


.aAction:hover {
	color: #000;
	transition-duration: 200ms;
}


.aNav {
	color: #000;
	font-weight: bold;
	transition-duration: 200ms;
	font-size: 1.1em;
	margin: 0 15px;
	text-decoration: none;
}

.aNav:hover {
	color: #E2A125;
	transition-duration: 200ms;
}

#container-proof {
	background-color: #E2A125;
	color: #fff
}

.proof-min {
	display: inline-block;
	width: 31%;
	min-width: 250px;
	margin: 5px;
	vertical-align: top;
}

.img-proof {
	margin-left: 30px;
	top: -30px;
	position: relative;
}

#container-recherche {
	padding: 15px;
	background-color: #fff;
	border-radius: 8px;
	min-width: 650px;
	width: 40%;
	margin: auto;
	text-align: right;
}

#container-recherche {
	padding: 15px;
	background-color: #fff;
	border-radius: 8px;
	margin: auto;
	text-align: right;
}

#container-recherche-accueil{
	padding: 8px;
	background-color: #fff;
	border-radius: 8px;
	width:220px;
	text-align: left;
	line-height: 44px;
}

#container-recherche-accueil #champ-recherche{
	width:150px;
}

.container-footer {
	background-color: #3a444a8c;
	padding: 50px 0;
}

.container-footer p {
	color: #fff;
}

.row-footer {
	width: 800px;
	margin: auto;
}

#submit-recherche {
	border: none;
	width: 45px;
	height: 45px;
	background-color: #E2A125;
	border-radius: 7px;
}

#champ-recherche {
	box-shadow: none;
	border: none;
	outline: none;
	display: inline-block;
	width: 40%;
}

#container-recherche select {
	/* Propriétés de style personnalisées */
	width: 40%;
	/* Largeur du select */
	padding: 10px;
	/* Rembourrage interne */
	font-family: Arial, sans-serif;
	/* Police */
	font-size: 16px;
	/* Taille de la police */
	color: #777d84;
	/* Couleur du texte */
	background-color: #f0f0f0;
	/* Couleur de fond */
	border: 0px solid #ccc;
	/* Bordure */
	border-radius: 5px;
	/* Coins arrondis */
	appearance: none;
	/* Supprime la flèche déroulante par défaut (utiliser avec précaution) */
}

/* Personnaliser la flèche déroulante (utiliser avec précaution, car il n'est pas pris en charge dans tous les navigateurs) */
#container-recherche select::-ms-expand {
	display: none;
	background-color: #fff;
	/* Masque la flèche déroulante dans Internet Explorer */
}

#container-recherche select::after {
	content: '\25BC';
	/* Utilisez une flèche personnalisée pour les navigateurs prenant en charge l'usage de ::after */
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	pointer-events: none;
	/* Évite que la flèche soit cliquable */
}

#container-secondaire {
	width: 800px;
	margin: auto;
	padding: 50px 0;
}

#content-header {
	padding: 120px 0 80px;
	background:url(../background.png)center -145px no-repeat #3A444A;
	text-align: center;
	background-attachment: fixed;
	background-size:cover;
}

#content-header h1 {
	color: #fff;
	font-size: 2.4em;
	font-weight: 700;
}


#content-header #categorie {
	display: inline-block;
	margin: 0 10px;

}

.barre-nav-nonco {
	list-style: none;
	margin-bottom: 0;
}

.barre-nav-nonco li {
	display: inline-block;
}

#navbarNav {
	display: flex;
	justify-content: space-between;
	align-items: right;
}

#formulaire-vente {
	padding: 25px;
	max-width: 800px;
	margin: auto;
}

#formulaire-vente input,
#formulaire-vente select,
#formulaire-vente textarea {
	/*	display:flex;*/
	margin: 5px;
	padding: 10px;
	border: none;
	border-radius: 8px;
	outline: none;
}

#Modalites {
	background-color: rgb(186 209 222 / 52%);
	border-radius: 15px;
	padding: 70px 10px 10px 10px;
	margin: 20px 0;
	text-align: center;
}

input#nomArticle:focus {
	border: none;
}

#formulaire-vente>label.custom-file-upload {
	line-height: 45px;
	background-color: #E2A125;
	border-radius: 8px;
	padding: 0px 55px 0 15px;
	color: #000;
}

.min-adresse {
	display: inline-block;
	text-align: left;
}

.min-adresse .form-label {
	margin-bottom: -10px;
	color: #000;
	display:none;
}

#nom-cat {
	background-color: #fff;
	border-radius: 8px;
	padding:8px;
}

#nom-cat #categorie {
	background-color: #f0f0f0;
	appearance: none;
	float: right;
	cursor:pointer;
}

textarea#description{
    background-color: #fff;
    padding: 15px 0px 0px 190px;
    margin: 15px 0px 10px;
    height:170px;}


#middle {
	margin:-50px auto auto auto;
	background-color: #fff;
	border-radius:15px;
	padding:10px;
	max-width:560px;
	position:relative;
	z-index:1;
	bottom:-60px;
	box-shadow:0 5px 30px #7777773b;
}

#middle div {

}

#mise-a-prix {
	display: inline-block;
	margin-left: 20px;
}

form-label#dateDebutEncheres , form-label#dateFinEncheres  {
	margin-bottom: -10px;
	margin-left: 10px;
	font-size: 0.9em;
}

#mise-a-prix input{padding:15px 25px;}

.custom-file-upload {
    display: inline-block;
    padding: 110px 15px 15px 15px;
    background: url(../addimage.jpg) center 15px no-repeat #f0f0f0;
    background-size: 70%;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    margin-left: 10px;
    margin-top: -190px;
    position: absolute;
}

.custom-file-upload-profil {
    cursor: pointer;
    float:right;
    margin-top: 169px;
    margin-right: 15px;
}

.custom-file-upload-inscription{background: url(../addimage.jpg) center 15px no-repeat #f0f0f0;border-radius:12px;padding:15px}

.custom-file-upload-profil label {
	color: #000;
	cursor: pointer;
}

.custom-file-upload label {
	color: #000;
	cursor: pointer;
}

#date-enchere{display:inline-block;
width:49%;min-width:200px;
text-align:center;
padding:5px;}

#formulaire-vente input#dateDebutEncheres , #formulaire-vente input#dateFinEncheres{
	padding:25px;
	width:100%;
	background-color: #f0f0f0;
}

.custom-file-upload:hover {
	background-color: #f0f0f0;
}

#Modalites legend{
	font-size:1.3em;
	    text-align: left;
    margin-left: 35px;
}

#selectedFileName{
    position: absolute;
    margin-top: 30px;
    margin-left: -125px;
    color: #fff;
    background-color: #5ea74c;
    width: auto;
    line-height: 30px;
    text-align: center;
    border-radius: 7px;
    padding:0 8px;
}

#selectedFileNameProfil{
    position: absolute;
    margin-top: 55px;
    margin-left: -125px;
    color: #fff;
    background-color: #5ea74c;
    width: auto;
    line-height: 30px;
    text-align: center;
    border-radius: 7px;
    padding:0 8px;
}

 #mettre-en-vente{
	 	line-height: 45px;
	background-color: #E2A125;
	border-radius: 8px;
	padding: 10px 25px;
		 	transition-duration: 200ms;
float:right;
	color: #000;
	border:none;
 }
 
 #mettre-en-vente:hover{
	 	color: #000;
	 	transition-duration: 200ms;
background-color: #3A444A;
 }

#bloc-article{
	background-color: #fff;
	border-radius:10px;
	margin:15px 0;
}

.adresse-form{opacity:0.5;margin-left:5px;font-size:1em;}

#bouton-bas{width:100%;margin:auto; text-align:center;}

#bouton-bas a, #bouton-bas button{border:none;font-size:1.2em;margin:5px; border-radius:10px;}
#bouton-bas a{color:#000;background-color: #fff;text-decoration: none;padding:12px 20px}
#bouton-bas button, bouton-action span{color:#000; background-color:#E2A125;padding:10px 20px; cursor:pointer;}

.bouton-action-co{color:#000; background-color:#E2A125;padding:10px 20px; cursor:pointer;width:100%;border-radius:12px;border:none;height:55px;margin-bottom:10px;text-decoration: none;}

.bouton-refresh-profil{width:70px;
height:70px;
background: url(../refresh.png) center center no-repeat #fff;
border-radius:100%;
background-size:50%;}

.bouton-refresh-inscription{width:70px;
height:70px;
background: url(../addimage.jpg) center center no-repeat #fff;
border-radius:12px;
background-size:cover;}

.bloc-profil-co{
    border-radius: 15px;
    background-color: #fff;
    padding: 15px;
    max-width: 400px;
    margin: auto;
    
}
.bloc-profil-co input{padding:15px 25px;
background-color:#f0f0f0;;
border-radius:8px;border:none;outline:none;}


.mdpoubli a{float:right;margin-bottom:20px;text-decoration: none;color:#E2A125;font-weight: 700;}
.rememberme{width:165px;margin:auto;}

.bloc-profil{
    border-radius: 15px;
    background-color: #fff;
    padding: 15px;
    max-width: 800px;
    margin: auto;
}

.bloc-profil-alt{
	max-width: 800px;
    margin: auto;
    text-align: center;
}

.bloc-profil input{padding:15px 25px;
background-color:#f0f0f0;;
border-radius:8px;border:none;outline:none;}

.profil-rue, .profil-cp, .profil-ville, .profil-email, .profil-tel, .profil-pseudo, .profil-prenom, .profil-nom, .profil-mdp, .profil-confirmationmdp{display:inline-block; padding:5px;}
.profil-rue{width:48%} .profil-cp{width:20%} .profil-ville{width:30%} .profil-email{width:65%} .profil-tel{width:33%} 
.profil-pseudo{width:32.5%} .profil-nom{width:32.5%} .profil-prenom{width:32.5%} .profil-mdp0{width:98%} .profil-mdp{width:49%} .profil-confirmationmdp{width:49%}

.profil-image{background-size:cover;height:250px;width:250px;border-radius:100%;box-shadow:0 5px 30px #7777773b;border:8px solid #fff;margin:auto;display:inline-block;
}
.profil-credit {text-align:left;margin: auto;display:inline-block;position:relative;top:-100px;margin-left:50px;}
.profil-credit input, .profil-credit input:focus{background-color:transparent; font-size:1.6em;outline:none;border:none;}

#pseudo-profil-header{font-size:1.8em}

#bloc-bouton-encherir{border-radius:15px;box-shadow:0 5px 30px #7777773b;min-width:510px;margin:auto;background-color: #fff;display:inline-block;}
.bouton-encherir{padding:17px 20px;margin:5px;background-color: #E2A125;float:right;border:none;border-radius:12px;}
#bloc-bouton-encherir input{border:none;outline:none;height:68px;font-size: 1.2em;font-weight: 600;width:auto;background-color: transparent;padding-left:20px;}
.bouton-encherir:hover{background-color: #3A444A;}

#page-encherir{max-width: 800px;margin:auto;text-align: center;}










/*** component ***/
/*.montantEnchere {
  position: relative;
  border: 1px solid #666;
  max-width: 372px;
  border-radius: 4px;
  font-family: helvetica, sans-serif;
  background: #FFF;
}*/
.montantEnchere label {
  position: absolute;
  left: 20px;
  font-size: 12px;
  top: 8px;
}

.montantEnchere input {
  border: 0;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  font-size: 20px;
  font-weight: 700;
  border-radius: 4px;
}

.montantEnchere-decrement, .montantEnchere-increment {
  height: 57px;
  width: 65px;
  right: 0;
  border: 0;
  cursor: pointer;
  display: inline-block;
  border-radius: 12px;
margin: 0px 3px;
padding: 3px 0px 0 0px;
}

.montantEnchere button.montantEnchere-decrement {
  bottom: 0;
}

.montantEnchere button.montantEnchere-increment {
  border-top-right-radius: 4px;
}

.montantEnchere button.montantEnchere-increment svg {
  transform: rotate(180deg);
}

/* Chrome, Safari, Edge, Opera */
.montantEnchere input::-webkit-outer-spin-button,
.montantEnchere input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.montantEnchere input[type="number"] {
  -moz-appearance: textfield;
}