@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	height: 55px;
	background-color: #fff;
}

main {
	background-color: #E7E8E9;
}


#logo-image {
	width: 215px;
}

.bouton-classique {
	background-color: #fff;
	border-radius: 5px;
	padding: 5px 8px;
	color: #3A444A;
	transition-duration: 200ms;
}

.actionbouton {
	background-color: #E2A125;
	border-radius: 5px;
	padding: 5px 8px;
	color: #3A444A;
	transition-duration: 200ms;
	text-decoration: none;
	font-weight: 500;

}

#link-vendeur {
	font-size: 0.9em;
	color: #E2A125;
	transition-duration: 200ms;
	font-weight: 700;
	text-decoration: none;
}

p {
	color: #777d84;
	margin-bottom: 0em;
}

h1,
h2,
h3,
h4 {
	line-height: 1em;
}

h1 {
	text-align: center;
}

label {
	color: rgb(152, 152, 152);
}

.actionbouton:hover {
	background-color: #3A444A;
	color: #E2A125;
	transition-duration: 200ms;
}

#article-vendu {
	display: inline-block;
	width: 31%;
	min-width: 250px;
	margin: 5px;
	vertical-align: top;
}

#miniature-article {
	background-color: #3A444A;
	/*background-color: #E7E8E9;*/
	border-radius: 15px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 200px;
}

.bouton-miniature {
	display: flex;
	justify-content: center;
	/* Aligner les boutons à droite */
	align-items: flex-end;
	/* Aligner les boutons en bas */
	gap: 5px;
}

h4.titre-miniature {
	font-size: 1.3em;
	font-weight: 400;
	margin: 5px 0px 0px;
}

.montant-enchere {
	font-weight: bold;
	font-size: 1.3em;
}

.aAction {
	color: #E2A125;
	font-weight: bold;
	transition-duration: 200ms;
	font-size: 1.1em;
}

.prix-article {
	color: #fff;
	font-size: 1.4em;
	font-weight: 600;
}


.aAction:hover {
	color: #000;
	transition-duration: 200ms;
}


.aNav {
	color: #000;
	font-weight: bold;
	transition-duration: 200ms;
	font-size: 1.1em;
	margin: 0 15px;
	text-decoration: none;
}

.aNav:hover {
	color: #E2A125;
	transition-duration: 200ms;
}

#container-proof {
	background-color: #E2A125;
	color: #fff
}

.proof-min {
	display: inline-block;
	width: 31%;
	min-width: 250px;
	margin: 5px;
	vertical-align: top;
}

.img-proof {
	margin-left: 30px;
	top: -30px;
	position: relative;
}

#container-recherche {
	padding: 15px;
	background-color: #fff;
	border-radius: 8px;
	min-width: 650px;
	width: 40%;
	margin: auto;
	text-align: right;
}

.container-footer {
	background-color: #3A444A;
	padding: 50px 0;
	color: #fff;
}

.container-footer p {
	color: #fff;
}

.row-footer {
	width: 800px;
	margin: auto;
}

#submit-recherche {
	border: none;
	width: 45px;
	height: 45px;
	background-color: #E2A125;
	border-radius: 7px;
}

#champ-recherche {
	box-shadow: none;
	border: none;
	outline: none;
	display: inline-block;
	width: 40%;
}

#container-recherche select {
	/* Propriétés de style personnalisées */
	width: 40%;
	/* Largeur du select */
	padding: 10px;
	/* Rembourrage interne */
	font-family: Arial, sans-serif;
	/* Police */
	font-size: 16px;
	/* Taille de la police */
	color: #777d84;
	/* Couleur du texte */
	background-color: #f0f0f0;
	/* Couleur de fond */
	border: 0px solid #ccc;
	/* Bordure */
	border-radius: 5px;
	/* Coins arrondis */
	appearance: none;
	/* Supprime la flèche déroulante par défaut (utiliser avec précaution) */
}

/* Personnaliser la flèche déroulante (utiliser avec précaution, car il n'est pas pris en charge dans tous les navigateurs) */
#container-recherche select::-ms-expand {
	display: none;
	background-color: #fff;
	/* Masque la flèche déroulante dans Internet Explorer */
}

#container-recherche select::after {
	content: '\25BC';
	/* Utilisez une flèche personnalisée pour les navigateurs prenant en charge l'usage de ::after */
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	pointer-events: none;
	/* Évite que la flèche soit cliquable */
}

#container-secondaire {
	width: 800px;
	margin: auto;
	padding: 50px 0;
}

#content-header {
	padding: 120px 0 80px;
	background-color: #3A444A;
	text-align: center;
}

#content-header h1 {
	color: #fff;
	font-size: 2.4em;
	font-weight: 700;
}


#content-header #categorie {
	display: inline-block;
	margin: 0 10px;

}

.barre-nav-nonco {
	list-style: none;
	margin-bottom: 0;
}

.barre-nav-nonco li {
	display: inline-block;
}

#navbarNav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#formulaire-vente {
	padding: 25px;
	max-width: 800px;
	margin: auto;
}

#formulaire-vente input,
#formulaire-vente select,
#formulaire-vente textarea {
	/*	display:flex;*/
	margin: 5px;
	padding: 10px;
	border: none;
	border-radius: 8px;
	outline: none;
}

#Modalites {
	background-color: rgb(186 209 222 / 52%);
	border-radius: 15px;
	padding: 70px 10px 10px 10px;
	margin: 20px 0;
	text-align: center;
}

input#nomArticle:focus {
	border: none;
}

#formulaire-vente>label.custom-file-upload {
	line-height: 45px;
	background-color: #E2A125;
	border-radius: 8px;
	padding: 0px 55px 0 15px;
	color: #000;
}

.min-adresse {
	display: inline-block;
	text-align: left;
}

.min-adresse .form-label {
	margin-bottom: -10px;
	color: #000;
	display:none;
}

#nom-cat {
	background-color: #fff;
	border-radius: 8px;
	padding:8px;
}

#nom-cat #categorie {
	background-color: #f0f0f0;
	appearance: none;
	float: right;
	cursor:pointer;
}

textarea#description{
    background-color: #fff;
    padding: 15px 0px 0px 190px;
    margin: 15px 0px 10px;
    height:170px;}


#middle {
	margin:-50px auto auto auto;
	background-color: #fff;
	border-radius:15px;
	padding:10px;
	max-width:560px;
	position:relative;
	z-index:1;
	bottom:-60px;
}

#middle div {

}

#mise-a-prix {
	display: inline-block;
	margin-left: 20px;
}

form-label#dateDebutEncheres , form-label#dateFinEncheres  {
	margin-bottom: -10px;
	margin-left: 10px;
	font-size: 0.9em;
}

#mise-a-prix input{padding:15px 25px;}

.custom-file-upload {
    display: inline-block;
    padding: 110px 15px 15px 15px;
    background: url(../addimage.jpg) center 15px no-repeat #f0f0f0;
    background-size: 70%;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    margin-left: 10px;
    margin-top: -190px;
    position: absolute;
}

.custom-file-upload label {
	color: #000;
	cursor: pointer;
}

#date-enchere{display:inline-block;
width:49%;min-width:200px;
text-align:center;
padding:5px;}

#formulaire-vente input#dateDebutEncheres , #formulaire-vente input#dateFinEncheres{
	padding:25px;
	width:100%;
	background-color: #f0f0f0;
}

.custom-file-upload:hover {
	background-color: #f0f0f0;
}

#Modalites legend{
	font-size:1.3em;
	    text-align: left;
    margin-left: 35px;
}

#selectedFileName{
    position: absolute;
    margin-top: 30px;
    margin-left: -125px;
    color: #fff;
    background-color: #5ea74c;
    width: 125px;
    line-height: 30px;
    text-align: center;
    border-radius: 7px;
}

 #mettre-en-vente{
	 	line-height: 45px;
	background-color: #E2A125;
	border-radius: 8px;
	padding: 10px 25px;
		 	transition-duration: 200ms;
float:right;
	color: #000;
	border:none;
 }
 
 #mettre-en-vente:hover{
	 	color: #000;
	 	transition-duration: 200ms;
background-color: #3A444A;
 }

#bloc-article{
	background-color: #fff;
	border-radius:10px;
	margin:15px 0;
}

.adresse-form{opacity:0.5;margin-left:5px;font-size:1em;}

#bouton-bas{width:100%;margin:auto; text-align:center;}

#bouton-bas a, #bouton-bas button{border:none;font-size:1.2em;margin:5px; border-radius:10px;}
#bouton-bas a{color:#000;background-color: #fff;text-decoration: none;padding:12px 20px}
#bouton-bas button{color:#000; background-color:#E2A125;padding:10px 20px}